body{
    font-family: 'Montserrat';
    text-align: center;
}

h2{
    font-weight: bold;
}

p{
    color : #8f8f8f;
}

/* Headings */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

#title .container-fluid{
    padding: 3% 15% 8% 15%;
    text-align: left;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color : #fff
}
.white-section{
    background-color: #fff;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu';
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width : 23%;
    transform: rotate(30deg);
    position: absolute;
}

/* Icons */
.iconn{
    color: #ef8172;
    margin-bottom: 1rem;
}

/* Features */

#features{
    padding: 7% 15%;
    position: relative;
}
.colms{
    padding: 5%;
}
.feature-title{
    font-size: 1.5rem;
}
.iconn:hover{
    color : #ff4c68;
}

/* Testimonial section */
#testimonials{
    background-color: #ef8172;
    color : white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin : 20px;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.pics{
    width: 15%;
    margin : 20px 20px 50px;
}
.carousel-item{
        padding: 7% 15%;
}

/* Pricing */
#pricing{
    padding: 7%;
}
.pricing-col{
    padding : 3% 2%;
}
.class2{
    position: relative;
}
.pricing-text{
    font-size: 3rem;
    line-height: 1.5; 
}
/* Responsive Media */

@media (max-width:1024px){
    .title-image{
        position: static;
        transform: rotate(0deg);
        width: auto;
    }
    #title{
        text-align: center;
    }
}

/* Last Section */

.pd{
    font-size: 3rem;
    padding: 5% 20% 0;
}
.dwn-btn{
    margin: 2% 2% 5% 0;
}
#footer{
    padding-top: 10%;
    padding-bottom: 3%;
}
.demo{
    margin : 1%;
}
